{% extends 'movies/base.html' %}
{% block title %}{{ movie.Title }}{% endblock %}
{% block content %}
<div class="flex flex-col md:flex-row">
    <img src="{{ movie.Poster }}" alt="{{ movie.Title }}" class="w-64">
    <div class="ml-4">
        <h1 class="text-3xl font-bold">{{ movie.Title }}</h1>
        <p><strong>Year:</strong> {{ movie.Year }}</p>
        <p><strong>Genre:</strong> {{ movie.Genre }}</p>
        <p><strong>Director:</strong> {{ movie.Director }}</p>
        <p><strong>Plot:</strong> {{ movie.Plot }}</p>
        <p><strong>Director:</strong> {{ movie.Director }}</p>
        <p><strong>Cast:</strong> {{ movie.Actors }}</p>
    </div>
</div>
{% endblock %}